[Unit]
Description=Schedule daily Media Manager maintenance

[Timer]
OnCalendar=*-*-* 17:00:00
Persistent=false
Unit=media-manager-maintenance-weekly.service

[Install]
WantedBy=timers.target
